@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap'); 

body {
    background-image: url(../resources/start.png);
    color: black;
    font-family: 'Maven Pro', sans-serif;
    background-repeat: no-repeat;
}
.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header,
article {
    text-align: center;
}

h1 {
   font-size: 60px;
}
h2 {
    font-size: 36px;
}
button {
    width: 160px;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 4px 4px 2px rgb(96, 95, 95);
}
#play-again:hover {
    background-color: rgb(176, 172, 172);
}

#main-menu:hover {
    background-color: rgb(142, 159, 142);
}