#screen {
    display: flex;
    justify-content: center;
}
#board {
    width: 800px;
    height: 500px;
    border: 200px;
    position: relative;
    background-color: rgb(135, 135, 148);

}
#prisoner {
    position: absolute;
    background-color: orange;
}
#hole {
    position: absolute;
    background-color: black;
}
.light {
    position: absolute;
    background-color: yellow;
}


