#screen {
    display: flex;
    justify-content: center;
}
#board {
    width: 800px;
    height: 500px;
    border: 200px;
    position: relative;
    background-image: url(../resources/board.png)

}
#prisoner {
    position: absolute;
    background-image: url(../resources/prisoner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bone {
    position: absolute;
    background-image: url(../resources/bone.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}
#hole {
    position: absolute;
    background-color: black;
    border-radius: 50%;
}
.light {
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    opacity: 0.7;
}
.dog {
    position: absolute;
    background-image: url(../resources/dog.png);
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
}


